
html {
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Microsoft YaHei', 'PingFang SC',
    'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #0b0a10;
}
body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;

}
a {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.about {
	
  background-image:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1561400915269&di=e32fa352274536e115de5313d5055473&imgtype=0&src=http%3A%2F%2Fattachments.gfan.net.cn%2Fforum%2F201606%2F24%2F234312cjuzoas3l0zd9lsa.jpg);
  background-size:100% 100%;
  color: #cbce23;

}
.about-color {
  color: #009688;
}
.about-title {
  font-size: 180%;
  text-align: center;
}
.main {
  margin: 60px 0;
}
.music-tabs > li > a {
  padding: 0.5em 1em;
  cursor: pointer;
}
.music-main {
  display: none;
}
.music-main input {
  text-overflow: ellipsis;
}
.music-main input:focus,
.music-main input:hover {
  background: #eee;
  border-color: #ccc;
  color: #222;
}
.music-type .am-radio-inline,
.music-type label {
  color: #89e60e;
}
.music-type .am-icon-unchecked,
.music-type .am-icon-checked {
  color: #0e90d2;
}
.music-tips {
  margin-top: 50px;
}
.music-tips blockquote {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  margin-top: 30px;
}
.music-tips p span {
  display: inline-block;
  min-width: 50px;
}
.music-tips p b {
  font-weight: 500;
  color: #c7254e;
}
.music-overflow {
  max-height: 200px;
  overflow: hidden;
}
.music-more {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: rgb(240, 12, 12);
  background: #eee;
  cursor: pointer;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer p {
  color: #05e2f3;
  margin: 0;
  padding: 15px;
  text-align: center;
  background: #2d3e50;
}
.footer p a {
  color: #f31bd8;
}
.footer p a:hover {
  color: #bbb;
}
.footer a {
  text-decoration: underline;
}
.am-alert {
  display: none;
}
.am-popup-bd {
  height: 100%;
  filter:alpha(Opacity=30);-moz-opacity:0.6;opacity: 0.6; 
}
.aplayer {
  padding: 10px !important;
  margin: 0 !important;
  border: 1px solid #ccc;
  color: rgb(105, 91, 47) !important;
  
}
.aplayer .aplayer-info .aplayer-music .aplayer-title,
.aplayer .aplayer-info .aplayer-music .aplayer-author {
  font-size: 16px !important;
  color: rgb(6, 250, 230) !important;
}

.aplayer .aplayer-list ol li .aplayer-list-index {
  display: inline-block;
  width: 20px;
  text-align: right;
  color: rgb(192, 9, 64) !important;
}
.aplayer .aplayer-list ol li .aplayer-list-author {
  color: rgb(192, 9, 64) !important;
}
.aplayer .aplayer-info .aplayer-controller .aplayer-time {
  color: rgb(192, 9, 64) !important;
}
.aplayer .aplayer-lrc p {
  color: #0e90d2 !important;
}
.aplayer .aplayer-more {
  position: relative;
  font-size: 12px;
  padding: 8px 10px;
  margin-top: 10px;
  text-align: center;
  color: rgb(236, 12, 12);
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.aplayer .aplayer-more:hover,
.aplayer .aplayer-more:active {
  color: #0e90d2;
}

.aplayer.aplayer-withlrc .aplayer-pic {
  width: 120px !important;
  height: 120px !important;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .5);
}
.aplayer.aplayer-withlrc .aplayer-info {
  margin-left: 120px !important;
  height: 120px !important;
  color: rgb(192, 9, 64) !important;
}
.aplayer.aplayer-withlist .aplayer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0 !important;
  color: rgb(192, 9, 64) !important;
}
.aplayer.aplayer-withlist .aplayer-list {
  height: auto !important;
  padding-top: 20px;
  -webkit-transition: none;
  transition: none;
  color: rgb(192, 9, 64) !important;
}
.aplayer.aplayer-withlist .aplayer-list-hide {
  padding: 0;
}
